/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header{
    background-color: black;
    height: 60px;
    text-align: right;
    line-height: 60px;
}


.speaker{
    background-color: gray;
    color: white;
    border-radius: 5px;
    
    padding: 5px;

}

.icona{
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 2px;
}

.wrapper{
    height: 100vh;
    overflow: hidden;
}

.cams-container{
    height: calc(100% - 60px - 90px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 15px 0;
    overflow: scroll;

}



.cams{
    flex: 0 0 200px;
    
    min-width: 200px;
    margin: 5px;
    position: relative;
}

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(71, 71, 71, 0.463);
    color: white;
}

img{
    display: block;
}

.action-bar{
    height: 90px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.media-block,
.setting-block{
    display: flex;
    gap: 10px;
    padding: 10px;
}

.icon-block, 
.icon-block2{
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.icon,
.icon2{
    text-align: center;
}

.icon >i{
    font-size: 2rem;
}

.icon2 >i{
    font-size: 2rem;
}